header {
  width: 100vw;
  height: 594px;
  padding: 64px 80px;
  display: flex;
  flex-direction: column;
  gap: 128px;
  position: relative;
}

.hero-text {
  width: 1120px;
  height: 306px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-text h1 {
  /* 928px / 1440px = 64% */
  width: 64vw;
  max-width: 928px;
}

.hero-text p {
  width: 736px;
}

.bg-pattern-1 {
  width: 312px;
  height: 468px;
  position: absolute;
  top: -38px;
  right: 0;
  z-index: -1;
}

/* TABLET */

@media (max-width: 768px) {
  header {
    height: 628px;
    padding: 64px 40px;
    gap: 128px;
  }

  .hero-text {
    width: 600px;
    height: 340px;
  }

  .hero-text h1 {
    width: 416px;
  }

  .hero-text p {
    width: 504px;
  }

  .bg-pattern-1 {
    width: 266.67px;
    height: 400px;
    right: -45px;
  }
}

/* MOBILE */

@media (max-width: 375px) {
  header {
    height: 504px;
    padding: 64px 20px;
    gap: 64px;
  }

  .hero-text {
    width: 335px;
    height: 280px;
  }

  .hero-text h1 {
    width: 335px;
  }

  .hero-text p {
    width: 335px;
  }

  .bg-pattern-1 {
    display: none;
  }
}